
.password__container {
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(85, 225, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;

}

.password__container:focus-within {
  border-color: #55e1ff;
  box-shadow: 0 0 15px rgba(85, 225, 255, 0.15);
}

.password__container:hover .password__input {
  text-shadow: 0 0 8px rgba(85, 225, 255, 0.5);
  transition: text-shadow 0.4s ease-in-out;
}

.password__input {
  font-family: "Anta", sans-serif;
  font-weight: 200;
  flex: 1;
  background: transparent;
  border: none;
  color: #55e1ff;
  padding: 14px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}

.password__input::placeholder {
  color: rgba(85, 225, 255, 0.3);
  font-family: "Anta", sans-serif;
}

.password__actions {
  display: flex;
  gap: 5px;
  padding-right: 10px;
  align-items: center;
}

.password__icon {
  width: 20px;
  height: 20px;

  filter: invert(80%) sepia(20%) saturate(1000%) hue-rotate(180deg);

  opacity: 0.7;
  transition: opacity 0.2s;
}

.password__btn:hover .password__icon {
  opacity: 1;
}

.password__btn {
  background: rgba(255, 255, 255, 0.03);
  border: none;
  color: rgba(85, 225, 255, 0.6);
  width: 38px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.password__btn.success {
  background: rgba(76, 217, 100, 0.2) !important;
  border: 1px solid rgba(76, 217, 100, 0.5) !important;
  box-shadow: 0 0 12px rgba(76, 217, 100, 0.4);
}

.password__btn.success .icon-mask {
  background-color: #4cd964 !important;
}

.password__btn:hover:not(:disabled) {
  background: rgba(85, 225, 255, 0.15);
  color: #55e1ff;
}

.password__btn:active:not(:disabled) {
  transform: scale(0.9);
}

.password__btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.icon-mask {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #55e1ff;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  transition: background-color 0.2s ease;
}

.icon-copy {
  mask-image: url('../../../assets/copy-svgrepo-com.svg');
  -webkit-mask-image: url('../../../assets/copy-svgrepo-com.svg');
}

@keyframes eye-pop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


