<style>
  @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
</style>

<div class="password__container">
  <input
    [type]="isHidden() ? 'password' : 'text'"
    [value]="password()"
    readonly
    class="password__input"
    placeholder="Password will appear here:">

  <div class="password__actions">
    <button type="button" class="password__btn" (click)="toggleVisibility.emit()">
    <span
      class="icon-mask"
      [style.mask-image]="isHidden() ? 'url(assets/eye-closed-svgrepo-com.svg)' : 'url(assets/eye-open-svgrepo-com.svg)'"
      [style.-webkit-mask-image]="isHidden() ? 'url(assets/eye-closed-svgrepo-com.svg)' : 'url(assets/eye-open-svgrepo-com.svg)'">
    </span>
    </button>

    <button type="button" class="password__btn" (click)="onCopy()" [disabled]="!password()" [class.success]="passService.isCopied()" >
      <span class="icon-mask icon-copy"></span>
    </button>
  </div>
</div>
